extends ../layout/base

block css
    link(rel='stylesheet', href='/css/table.css')
block layout-content
    h1 Admin Dashboard
    p Welcome to the admin dashboard
    button#forceDisconnect Force Disconnect
    button#btnGetAllUsers Get All Users
    div(id="allUsers")
        div(id="counterContainer")
            p(id="counter") Counter: 0
        table(id="usersTable")
            thead
                tr
                    th User ID
                    th Username
            tbody

    script.
        const socket = io();
        document.getElementById('btnGetAllUsers').addEventListener('click', function () {
            const tableBody = document.querySelector('#usersTable tbody');
            const counterP = document.getElementById('counter');

            fetch('/api/getAllUsers')
                .then(res => res.json())
                .then(data => {
                    tableBody.innerHTML = '';
                    let peoples = 0;

                    for (const user of data) {
                        const tr = document.createElement('tr');
                        tr.innerHTML = `<td>${user.userId}</td><td>${user.username}</td>`;
                        tableBody.appendChild(tr);
                        peoples++;
                    }

                    counterP.innerText = `Counter: ${peoples}`;
                });
        });

        document.getElementById('forceDisconnect').addEventListener('click', function () {
            fetch('/forceDisconnect', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
                .then(res => res.json())
                .then(data => {
                    console.log(data);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
