extends ../layout/base

block layout-content
    h1 Login
    form(action='/login', method='POST')
        input(type='text', name='username', placeholder='Username')
        input(type='password', name='password', placeholder='Password')
        input(type='submit', value='Login')
    script.
        const socket = io();