extends ../layout/base

block css
    link(rel='stylesheet', href='/css/auth.css')
block layout-content
    .container
        h1 Login
        form(action='/login', method='POST')
            input(type='text', name='username', placeholder='Username')
            input(type='password', name='password', placeholder='Password')
            input(type='submit', value='Login')
        script.
            const socket = io();