extends layout

block css
    //link(rel='stylesheet', href='/css/style.css')
block menu
    if showMenuBar
        .menu-container
            .menu
                a(class="menu-item" href="/") Home
                if loggedIn
                    form(action='/logout', method='POST')
                        input(type='submit', value='Logout')
                    a(class="menu-item" href="/profile") Profile
                    a(class="menu-item" href="/") Quest
                else
                    a(class="menu-item" href="/login") Login
                    a(class="menu-item" href="/register") Register
                if admin
                    .menu-item.dropdown-trigger
                        | Admin
                        .dropdown-content
                            a(class="dropdown-item" href="/adminDashboard") Dashboard
                a(class="menu-item" href="https://github.com/Gofreza/minesweeper") GitHub
                a(class="menu-item icon")
                    | &#9776; <!-- Unicode hamburger icon -->
    script.
        document.addEventListener('DOMContentLoaded', function () {
            const menuIcon = document.querySelector('.menu-item.icon');
            const menu = document.querySelector('.menu');

            menuIcon.addEventListener('click', function () {
                console.log('click');
                menu.classList.toggle('active');
            });
        });
block flash
    #flash-messages
        if flash && flash.success
            .success= flash.success
        else if flash && flash.error
            .error= flash.error
    script.
        function displayFlashMessage() {
            // Get the flash message element
            const flashMessage = document.getElementById('flash-messages');

            // Show the flash message only if it contains text
            if (flashMessage.textContent.trim() !== "") {
                flashMessage.style.display = 'block';

                // Set the time in milliseconds for the message to disappear (e.g., 3000ms = 3 seconds)
                const duration = 3000;

                // After the specified duration, hide the flash message
                setTimeout(() => {
                    flashMessage.style.display = 'none';
                }, duration);
            }
        }
        // Call the function to display the flash message
        displayFlashMessage();
