extends layout

block css
    //link(rel='stylesheet', href='/css/style.css')
block menu
    if showMenuBar
        .menu-container
            .menu
                a(class="menu-item" href="/") Home
                if loggedIn
                    form(action='/logout', method='POST')
                        input(type='submit', value='Logout')
                else
                    a(class="menu-item" href="/login") Login
                    a(class="menu-item" href="/register") Register
                a(class="menu-item" href="/") Quest
                if admin
                    .menu-item.dropdown-trigger
                        | Admin
                        .dropdown-content
                            a(class="dropdown-item" href="/adminDashboard") Dashboard
                a(class="menu-item" href="https://github.com/Gofreza/minesweeper") GitHub
                a(class="menu-item icon")
                    | &#9776; <!-- Unicode hamburger icon -->
    script.
        document.addEventListener('DOMContentLoaded', function () {
            const menuIcon = document.querySelector('.menu-item.icon');
            const menu = document.querySelector('.menu');

            menuIcon.addEventListener('click', function () {
                console.log('click');
                menu.classList.toggle('active');
            });
        });
